<div class="row">
    <div class="col-md-6">
        <textarea id="sql_value" name="sql_value" class="form-control" style="resize: none; font-family: 'Consolas', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace; font-size: 15px" placeholder="请在此提交SQL，请以分号结尾。例如：use test; create table t1(id int)engine=innodb;" rows=20 required></textarea>
    </div>
</div>
</br>
<div class="row">
    <div class="col-md-8">
        <button class="btn btn-primary" onclick="get_audit_infos()">执行SQL审核</button>
    </div>
</div>
</br>
<div class="row">
    <div class="col-md-12" id="audit_info">

    </div>
</div>

<script type="text/javascript">
    function get_audit_infos() {
        input_data_for_post("/audit/check", "sql=" + $("#sql_value").val(), "#audit_info")
    }
</script>
