<table class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>
            ID
        </th>
        <th>
            Host_Name
        </th>
        <th>
            IP
        </th>
        <th>
            Port
        </th>
        <th>
            User
        </th>
        <th>
            Created_Time
        </th>
        <!--<th>
            Test_Host
        </th>
        <th>
            Online_Host
        </th>-->
        <th>

        </th>
    </tr>
    </thead>
    <tbody>
    {% for info in host_infos %}
        <tr>
            <td>
                {{ info.host_id }}
            </td>
            <td>
                {{ info.host_name }}
            </td>
            <td>
                {{ info.ip }}
            </td>
            <td>
                {{ info.port }}
            </td>
            <td>
                {{ info.user }}
            </td>
            <!--<td class="text-center">
                {% if(info.is_test_host == 0) %}
                    No
                {% else %}
                    Yes
                {% endif %}
            </td>
            <td class="text-center">
                {% if(info.is_online_host == 0) %}
                    No
                {% else %}
                    Yes
                {% endif %}
            </td>-->
            <td>
                {{ info.created_time }}
            </td>
            <td class="text-center">
                <button class="btn btn-primary btn-xs" onclick=show_update_dialog({{ info.host_id }},2)>编辑</button>
                <button class="btn btn-danger btn-xs" onclick=delete_mysql_host({{ info.host_id }})>删除</button>

                {% if(info.is_alive == 1) %}
                    <button class="btn btn-success btn-xs" disabled>连接成功</button>
                {% else %}
                    <button class="btn btn-danger btn-xs" disabled>连接失败</button>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
