<table class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>
            ID
        </th>
        <th>
            创建用户
        </th>
        <th>
            创建时间
        </th>
        <th>
            标题
        </th>
        <th>
            SQL
        </th>
        <th>
            是否备份
        </th>
        <th>
            执行用户
        </th>
        <th>
            状态
        </th>
        <th>
            是否删除
        </th>
        <th>

        </th>
    </tr>
    </thead>
    <tbody>
    {% for info in sql_list %}
        <tr>
            <td>
                {{ info.id }}
            </td>
            <td>
                {{ info.create_user_id }}
            </td>
            <td>
                {{ info.created_time }}
            </td>
            <td>
                {{ info.title }}
            </td>
            <td>
                {{ info.sql_value }}
            </td>
            <td>
                {{ info.is_backup }}
            </td>
            <td>
                {{ info.execute_user_id }}
            </td>
            <td>
                {{ info.status }}
            </td>
            <td>
                {{ info.is_deleted }}
            </td>
            <td class="text-center">
                <button class="btn-primary btn btn-xs">详细</button>
                <button class="btn-danger btn btn-xs">删除</button>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
