<!--
1.DBA列表界面
-->


{% extends "list_base.html" %}
{% block list_body %}
<ul id="myTab" class="nav nav-tabs">
    <li class="active">
        <a href="#all_works" data-toggle="tab" onclick=set_tab_type(ALL_SQL_WORK_TAB,"#all_works")>我的工单</a>
    </li>
    <li>
        <a href="#no_audit_works" data-toggle="tab" onclick=set_tab_type(NOT_AUDIT_SQL_WORK_TAB,"#no_audit_works")>未审核工单</a>
    </li>
    <li>
        <a href="#audit_ok_works" data-toggle="tab" onclick=set_tab_type(AUDIT_OK_SQL_WORK_TAB,"#audit_ok_works")>审核成功工单</a>
    </li>
    <li>
        <a href="#audit_fail_works" data-toggle="tab" onclick=set_tab_type(AUDIT_FAIL_SQL_WORK_TAB,"#audit_fail_works")>审核失败工单</a>
    </li>
    <li>
        <a href="#no_execute_works" data-toggle="tab" onclick=set_tab_type(NOT_EXECUTE_SQL_WORK_TAB,"#no_execute_works")>未执行工单</a>
    </li>
    <li>
        <a href="#execute_ok_works" data-toggle="tab" onclick=set_tab_type(EXECUTE_OK_SQL_WROK_TAB,"#execute_ok_works")>执行成功工单</a>
    </li>
</ul>

<div id="myTabContent" class="tab-content">
    <div class="tab-pane fade in active" id="all_works">
    </div>
    <div class="tab-pane fade" id="no_audit_works" hidden>
    </div>
    <div class="tab-pane fade" id="audit_ok_works" hidden>
    </div>
    <div class="tab-pane fade" id="audit_fail_works" hidden>
    </div>
    <div class="tab-pane fade" id="no_execute_works" hidden>
    </div>
    <div class="tab-pane fade" id="execute_ok_works" hidden>
    </div>
</div>

<script type="text/javascript">
    div_name_global = "#all_works";
    tab_type_global = ALL_SQL_WORK_TAB;
    query_sql_list();
</script>
{% endblock %}
