<ul id="myTab" class="nav nav-tabs">
    <li class="active">
        <a href="#my_work" data-toggle="tab">我的工单</a>
    </li>
    <li>
        <a href="#work_auditing" data-toggle="tab">审核中</a>
    </li>
    <li>
        <a href="#executed" data-toggle="tab">未执行</a>
    </li>
    <li>
        <a href="#executed_fail" data-toggle="tab">执行失败</a>
    </li>
</ul>

<div id="myTabContent" class="tab-content">
    <div class="tab-pane fade in active" id="my_work">
        我的工单
    </div>
    <div class="tab-pane fade" id="work_auditing" hidden>
        审核中
    </div>
    <div class="tab-pane fade" id="executed" hidden>
        未执行
    </div>
    <div class="tab-pane fade" id="executed_fail" hidden>
        执行失败
    </div>
</div>
