<div class="row">
    <form id="sql_list_form" action="/list/query" method="post" target="nm_iframe" class="form-inline col-md-12">
        <div class="form-group">
            <select id="user_id" name="user_id" class="selectpicker show-tick form-control bs-select-hidden" style="width: 500px" required>
                <option value="0" selected>查询所有用户</option>
                {% for info in user_infos %}
                    {% if(info.is_deleted == 0) %}
                        <option value="{{ info.user_id }}">{{ info.chinese_name }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <select id="status" name="status" class="selectpicker show-tick form-control bs-select-hidden" required>
                <option value="-1" selected>查询所有状态</option>
                {% for key, value in sql_work_status.items() %}
                    <option value="{{ key }}">{{ value }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <input id="start_datetime" name="start_datetime" type="text" value="" class="form_datetime form-control" placeholder="开始时间" readonly>
        </div>
        <div class="form-group">
            <input id="stop_datetime" name="stop_datetime" type="text" value="" class="form_datetime form-control" placeholder="结束时间" readonly>
        </div>
        <div class="form-group">
            <button class="btn btn-primary" onclick="return query_sql_list()">查询</button>
            <button type="reset" class="btn btn-default">清空</button>
        </div>
    </form>
</div>
<div class="row">
    <div class="col-md-12" id="sql_list">

    </div>
</div>

<div class="modal fade" id="rollback_sql_dialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop='static'>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">回滚SQL</h4>
            </div>
            <div class="modal-body">
                <textarea id="rollback_sql" class="form-control" rows=21 cols="100000"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger">执行回滚SQL</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="sql_work_delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop='static'>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">删除工单</h4>
            </div>
            <div class="modal-body">
                是否确认删除工单？
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" onclick="delete_sql_work()">删除</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12" id="sql_update_div">

    </div>
</div>

<script type="text/javascript">
    var page_number_global = 1;
    var delete_sql_work_id = 0;

    $(".form_datetime").datetimepicker({
        format: "yyyy-mm-dd hh:ii",
        autoclose: true,
        todayBtn: true,
        pickerPosition: "bottom-left"
    });
    $(".selectpicker").selectpicker({liveSearch: true});

    function query_sql_list() {
        var json_obj = get_form_json($("#sql_list_form"));
        json_obj.page_number = 1;
        input_data_for_post("/list/query", json_obj, "#sql_list");
        return false;
    }

    function query_sql_list_by_page_number(page_number) {
        var json_obj = get_form_json($("#sql_list_form"))
        page_number_global = page_number;
        json_obj.page_number = page_number;
        input_data_for_post("/list/query", json_obj, "#sql_list")
    }

    function get_execute_html(id) {
        $("#sql_list_form").hide();
        input_data_for_post("/execute/sql/exeucte/" + id, "", "#sql_list")
    }

    function get_sql_update_work_html(id) {
        $.post("/work/update/" + id, "", function (data) {
            $("#sql_update_div").html(data);
            show_modal_dialog("#sql_work_update_dialog");
        }).error(function () {
            alert("error");
        });
    }

    function update_sql_work(sql_id) {
        var json_obj = get_form_json($("#sql_work_update_form"));
        json_obj.sql_id = sql_id;
        $.post("/work/update/sql/save", JSON.stringify(json_obj), function (data) {
            alert(data);
            hide_modal_dialog("#sql_work_update_dialog")
            query_sql_list();
        }).error(function () {
            alert("error");
            hide_modal_dialog("#sql_work_update_dialog")
        });
    }

    function get_rollback_sql(sql_id) {
        $.post("/execute/rollback/sql/" + sql_id, "", function (data) {
            var json_obj = JSON.parse(data);
            $("#rollback_sql").text(json_obj.rollback_sql_value);
            show_modal_dialog("#rollback_sql_dialog");
        });
    }

    function delete_sql_work() {
        $.post("/list/delete/" + delete_sql_work_id, "", function (data) {
            alert("删除成功");
            hide_modal_dialog("#sql_work_delete");
            query_sql_list();
        }).error(function () {
            alert("删除失败");
            hide_modal_dialog("#sql_work_delete");
        });
    }

    function show_delete_sql_work_dialog(sql_id) {
        delete_sql_work_id = sql_id
        show_modal_dialog("#sql_work_delete")
    }

    query_sql_list();
</script>

<script src={{ url_for("static", filename="js/common.js") }} type="text/javascript"></script>