</br>
<table class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>
            ID
        </th>
        <th>
            标题
        </th>
        <th>
            创建用户
        </th>
        <th>
            SQL
        </th>
        <th>
            上线集群
        </th>
        <th>
            数据库
        </th>
        <th>
            备份
        </th>
        <th>
            执行用户
        </th>
        <th>
            状态
        </th>
        <th>
            创建时间
        </th>
        <th>

        </th>
    </tr>
    </thead>
    <tbody>
    {% for info in sql_list %}
        <tr>
            <td>
                {{ info.id }}
            </td>
            <td>
                <a role="button" onclick=get_execute_html({{ info.id }})>{{ info.title }}</a>
            </td>
            <td>
                {{ info.chinese_name }}
            </td>
            <td>
                {{ info.sql_value }}
            </td>
            <td class="text-info">
                {{ info.host_name }}
            </td>
            <td class="text-info">
                {{ info.execute_db_name }}
            </td>
            <td>
                 {% if(info.is_backup == 1) %}
                    Yes
                {% else %}
                    No
                {% endif %}
            </td>
            <td>
                {{ info.execute_user_name }}
            </td>
            <td     {% if(info.status == 1) %}
                        class="text-info"
                    {% elif(info.status == 4) %}
                        class="text-success"
                    {% elif(info.status == 0) %}
                        class="text-warning"
                    {% elif(info.status == 2 or info.status == 3) %}
                        class="text-danger"
                    {% endif %}>
                {{ info.status_name }}
            </td>
            <td>
                {{ info.created_time }}
            </td>
            <td class="text-center">
                <!--执行成功-->
                {% if(info.status == 4) %}
                    <button class="btn-default btn btn-xs" onclick=get_execute_html({{ info.id }})>详情</button>
                    <button class="btn-danger btn btn-xs" onclick=get_rollback_sql({{ info.id }}) {% if(info.is_backup == 0) %} disabled {% endif %}>回滚</button>
                <!--执行错误-->
                {% elif(info.status == 3) %}
                    <button class="btn-danger btn btn-xs" onclick=show_delete_sql_work_dialog({{ info.id }})>删除</button>
                <!--其它状态-->
                {% else %}
                    <button class="btn-info btn btn-xs" onclick=get_sql_update_work_html({{ info.id }})>编辑</button>
                    <button class="btn-primary btn btn-xs" onclick=get_execute_html({{ info.id }})>执行</button>
                    <button class="btn-danger btn btn-xs" onclick=show_delete_sql_work_dialog({{ info.id }})>删除</button>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<div class="text-center">
    <ul class="pagination pagination-centered">
        <li><a href="javascript:void(0)" onclick="query_sql_list_by_page_number(1)">&laquo;</a></li>
        {% for number in page_list %}
            <li {% if(number == page_number) %} class="active" {% endif %}>
                <a href="javascript:void(0)" onclick="query_sql_list_by_page_number({{ number }})">{{ number }}</a>
            </li>
        {% endfor %}
    </ul>
</div>
