<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SQL执行成功</title>
</head>
<body>
<div><label>工单地址:</label><a href="{{ sql_info.host_url }}/{{ sql_info.id }}">{{ sql_info.host_url }}/{{ sql_info.id }}</a></div>

<div><label>标题:</label><label>{{ sql_info.title }}</label></div>

<div><label>执行人:</label><label>{{ sql_info.execute_user_name }}</label></div>

<div><label>执行状态:</label><label>{{ sql_info.status_str }}</label></div>

<div><label>执行时间:</label><label>{{ sql_info.execute_date_time }}</label></div>
</body>
</html>