<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MySQL Audit</title>
    <link href={{ url_for('static', filename='css/bootstrap.css') }} rel="stylesheet" type="text/css">
    <script src={{ url_for("static", filename="jquery/jquery.min.js") }} type="text/javascript"></script>
    <script src={{ url_for("static", filename="js/bootstrap.min.js") }} type="text/javascript"></script>
    <script src={{ url_for("static", filename="jquery/jquery-form.js") }} type="text/javascript"></script>

    <script src={{ url_for("static", filename="js/bootstrap-select.js") }} type="text/javascript"></script>
    <link href={{ url_for('static', filename='css/bootstrap-select.css') }} rel="stylesheet" type="text/css">

    <script src={{ url_for("static", filename="js/bootstrap-datetimepicker.min.js") }} type="text/javascript"></script>
    <link href={{ url_for('static', filename='css/bootstrap-datetimepicker.min.css') }} rel="stylesheet" type="text/css">

    <script src={{ url_for("static", filename="js/fileinput.min.js") }} type="text/javascript"></script>
    <link href={{ url_for('static', filename='css/fileinput.min.css') }} rel="stylesheet" type="text/css">

    <style type="text/css">
        pre {
            border: 0px;
            background: none;
            font-size: 13px;
            margin: 0 0 0px;
            padding: 0px;
            white-space: pre-wrap;
        }

        textarea {
            font-size: 14px;
            font-family: 'Consolas', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
        }
    </style>
</head>
<body>
<div class="container-fluid">
    </br></br>
    <div class="row">
        <div class="col-md-2">
            <div id="myTab" class="list-group">
                <a href="javascript:void(0)" id="home" class="list-group-item" onclick=init_web("home")><span class="glyphicon glyphicon-home"> 首页</span></a>
                <a href="javascript:void(0)" id="audit" class="list-group-item" onclick=init_web("audit")><span class="glyphicon glyphicon-education"> SQL审核</span></a>
                <a href="javascript:void(0)" id="execute" class="list-group-item" onclick=init_web("execute")><span class="glyphicon glyphicon-cog"> 创建SQL工单</span></a>
                <a href="javascript:void(0)" id="list" class="list-group-item" onclick=init_web("list")><span class="glyphicon glyphicon-list"> SQL工单列表</span></a>
                <a href="javascript:void(0)" id="host" class="list-group-item" onclick=init_web("host")><span class="glyphicon glyphicon-magnet"> 主机帐号管理</span></a>
                <a href="javascript:void(0)" id="user" class="list-group-item" onclick=init_web("user")><span class="glyphicon glyphicon-user"> 用户帐号管理</span></a>
            </div>
        </div>
        <div class="col-md-10" id="div_web">
        </div>
        <div class="col-md-10" id="div_home">
        </div>
        <div class="col-md-10" id="div_audit">
        </div>
        <div class="col-md-10" id="div_execute">
        </div>
        <div class="col-md-10" id="div_list">
        </div>
        <div class="col-md-10" id="div_host">
        </div>
        <div class="col-md-10" id="div_user">
        </div>
    </div>
</div>
<iframe id="id_iframe" name="nm_iframe" style="display:none;"></iframe>
<div class="modal fade" id="loading" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop='static'>
    <div class="modal-dialog" role="document" style="width: 600px">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">提示</h4>
            </div>
            <div class="modal-body">
                请稍候。。。
            </div>
        </div>
    </div>
</div>
</body>
</html>

<script src={{ url_for("static", filename="js/common.js") }} type="text/javascript"></script>

<script type="text/javascript">
    init_web("home")
</script>