<div class="modal fade" id="sql_work_update_dialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop='static'>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="exampleModalLabel">工单修改</h4>
            </div>
            <div class="modal-body">
                <form id="sql_work_update_form">
                    <div class="form-group">
                        <label id="user_name_lable" name="user_name_lable" class="control-label" for="user_name">标题:</label>
                        <input id="title" type="text" name="title" class="form-control" value="{{ work_info.title }}">
                    </div>
                    <div class="form-group">
                        <label id="user_password_lable" name="user_password_lable" class="control-label" for="user_password">jira地址:</label>
                        <input id="jira_url" type="text" name="jira_url" class="form-control" value="{{ work_info.jira_url }}">
                    </div>
                    <div class="form-group">
                        <label id="email_lable" name="email_lable" class="control-label" for="email">请选择是否要备份:</label>
                        <select id="is_backup" name="is_backup" class="selectpicker show-tick form-control bs-select-hidden" required>
                            <option value="0" {% if(work_info.is_backup == 0) %} selected {% endif %}>否</option>
                            <option value="1" {% if(work_info.is_backup == 1) %} selected {% endif %}>是</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label id="sleep_lable" name="sleep_lable" class="control-label" for="sleep_time">请选择执行每条SQL要暂停的秒数:</label>
                        <select id="sleep_time" name="sleep_time" class="selectpicker show-tick form-control bs-select-hidden" required>
                            <option value="0">0</option>
                            <option value="0.1">0.1</option>
                            <option value="0.2">0.2</option>
                            <option value="0.3">0.3</option>
                            <option value="0.4">0.4</option>
                            <option value="0.5">0.5</option>
                            <option value="0.6">0.6</option>
                            <option value="0.7">0.7</option>
                            <option value="0.8">0.8</option>
                            <option value="0.9">0.9</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                            <option value="16">16</option>
                            <option value="17">17</option>
                            <option value="18">18</option>
                            <option value="19">19</option>
                            <option value="20">20</option>
                            <option value="21">21</option>
                            <option value="22">22</option>
                            <option value="23">23</option>
                            <option value="24">24</option>
                            <option value="25">25</option>
                            <option value="26">26</option>
                            <option value="27">27</option>
                            <option value="28">28</option>
                            <option value="29">29</option>
                            <option value="30">30</option>
                            <option value="31">31</option>
                            <option value="32">32</option>
                            <option value="33">33</option>
                            <option value="34">34</option>
                            <option value="35">35</option>
                            <option value="36">36</option>
                            <option value="37">37</option>
                            <option value="38">38</option>
                            <option value="39">39</option>
                            <option value="40">40</option>
                            <option value="41">41</option>
                            <option value="42">42</option>
                            <option value="43">43</option>
                            <option value="44">44</option>
                            <option value="45">45</option>
                            <option value="46">46</option>
                            <option value="47">47</option>
                            <option value="48">48</option>
                            <option value="49">49</option>
                            <option value="50">50</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label id="email_lable" name="email_lable" class="control-label" for="email">请选择执行SQL的DBA:</label>
                        <select id="dba_user_id" name="dba_user_id" class="selectpicker show-tick form-control bs-select-hidden" required>
                            {% for info in dba_users %}
                                <option value="{{ info.user_id }}" {% if(work_info.execute_user_id == info.user_id) %} selected {% endif %}>{{ info.chinese_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" onclick="update_sql_work({{ work_info.id }})">保存工单修改</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(".selectpicker").selectpicker({liveSearch: true});

    /*var count=$("#sleep_time option").length;
     for (var i = 0; i < count; i++) {
     console.log($("#sleep_time").get(0).options[i].text);
     if ($("#sleep_time").get(0).options[i].text == sleep_time) {
     $("#sleep_time").get(0).options[i].selected = true;
     break;
     }
     }*/

    /*$("#sleep_time option").each(function () {
        var my_text = $(this).val();
        if (my_text == sleep_time) {
            console.log($(this))
            $(this).find("option").attr("selected", "selected");
            $(this).attr("selected", "selected");
            console.log($(this))
        }
    });
    console.log($("#sleep_time"))
    $(".selectpicker").selectpicker({liveSearch: true});*/

    var sleep_time = {{ work_info.sleep }};
    $("#sleep_time").val([sleep_time]).trigger("change");
</script>