<form id="sql_work_form" target="nm_iframe" class="form-horizontal row" role="form">
    <div class="col-md-8">
        <textarea id="sql_value" name="sql_value" class="form-control" placeholder="请在此提交SQL，请以分号结尾。例如：use test; create table t1(id int)engine=innodb;" rows=21 required></textarea>
    </div>
    <div class="col-md-4">
        <div class="form-group" style="margin-left: 0px;margin-right: 0px">
            <input id="title" type="text" name="title" class="form-control" placeholder="请输入上线工单名称，如:修改房源宝后台bug" required>
        </div>
        <div class="form-group" style="margin-left: 0px;margin-right: 0px">
            <input id="jira_url" type="text" name="jira_url" class="form-control" placeholder="请输入jira地址" required>
        </div>
        <div class="form-group" style="margin-left: 0px;margin-right: 0px">
            <select id="host_id" name="host_id" class="selectpicker show-tick form-control bs-select-hidden" onchange="show_database_names()">
                <option value="0" disabled selected style="color: black">请选择要上线的集群:</option>
                {% for info in host_infos %}
                    <option value="{{ info.host_id }}">{{ info.host_name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group" id="db_div" style="margin-left: 0px;margin-right: 0px">
            <select id="db_name" name="db_name" class="selectpicker show-tick form-control bs-select-hidden">
                <option value="0" disabled selected style="color: black">请选择要执行的库:</option>
            </select>
        </div>
        <div class="form-group" style="margin-left: 0px;margin-right: 0px">
            <select id="is_backup" name="is_backup" class="selectpicker show-tick form-control bs-select-hidden" required>
                <option value="3" disabled style="color: black">请选择是否要备份:</option>
                <option value="1" selected>是</option>
                <option value="0">否</option>
            </select>
        </div>
        <div class="form-group" style="margin-left: 0px;margin-right: 0px">
            <select id="sleep_time" name="sleep_time" class="selectpicker show-tick form-control bs-select-hidden" required>
                <option value="0" selected style="color: black">请选择执行每条SQL要暂停的秒数(默认0秒):</option>
                <option value="0">0</option>
                <option value="0.1">0.1</option>
                <option value="0.2">0.2</option>
                <option value="0.3">0.3</option>
                <option value="0.4">0.4</option>
                <option value="0.5">0.5</option>
                <option value="0.6">0.6</option>
                <option value="0.7">0.7</option>
                <option value="0.8">0.8</option>
                <option value="0.9">0.9</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
                <option value="18">18</option>
                <option value="19">19</option>
                <option value="20">20</option>
                <option value="21">21</option>
                <option value="22">22</option>
                <option value="23">23</option>
                <option value="24">24</option>
                <option value="25">25</option>
                <option value="26">26</option>
                <option value="27">27</option>
                <option value="28">28</option>
                <option value="29">29</option>
                <option value="30">30</option>
                <option value="31">31</option>
                <option value="32">32</option>
                <option value="33">33</option>
                <option value="34">34</option>
                <option value="35">35</option>
                <option value="36">36</option>
                <option value="37">37</option>
                <option value="38">38</option>
                <option value="39">39</option>
                <option value="40">40</option>
                <option value="41">41</option>
                <option value="42">42</option>
                <option value="43">43</option>
                <option value="44">44</option>
                <option value="45">45</option>
                <option value="46">46</option>
                <option value="47">47</option>
                <option value="48">48</option>
                <option value="49">49</option>
                <option value="50">50</option>
            </select>
        </div>
        <div class="form-group" style="margin-left: 0px;margin-right: 0px">
            <select id="audit_user_id" name="audit_user_id" class="selectpicker show-tick form-control bs-select-hidden" required>
                <option value="0" disabled selected style="color: black">请选择审核用户:</option>
                {% for info in audit_user_infos %}
                    <option value="{{ info.user_id }}">{{ info.chinese_name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group" style="margin-left: 0px;margin-right: 0px">
            <select id="dba_user_id" name="dba_user_id" class="selectpicker show-tick form-control bs-select-hidden" required>
                <option value="0" disabled selected style="color: black">请选择执行SQL的DBA:</option>
                {% for info in dba_users %}
                    <option value="{{ info.user_id }}">{{ info.chinese_name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group" style="margin-left: 0px;margin-right: 0px">
            <button type="button" class="btn btn-success" onclick="get_audit_infos()">SQL审核</button>
            <button type="button" class="btn btn-primary" onclick="check_input_value()">创建SQL工单</button>
            <button type="reset" class="btn btn-default">清空重填</button>
        </div>
    </div>
</form>
</br>
<div class="row">
    <div class="col-md-12" id="audit_info">

    </div>
</div>
<div class="modal fade" id="sql_create_dialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop='static'>
    <div class="modal-dialog" role="document" style="width: 600px">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">提示</h4>
            </div>
            <div class="modal-body">
                是否创建工单?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="add_sql_work()">创建</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(".selectpicker").selectpicker({liveSearch: true});

    function check_input_value() {
        var json_obj = get_form_json($("#sql_work_form"));
        if ($("#host_id").val() == null) {
            display_error_message("请选择数据库集群");
        }
        else if (json_obj.sql_value.length <= 0) {
            display_error_message("请输入要执行的SQL");
        }
        else if (json_obj.title.length <= 0) {
            display_error_message("请输入工单名称");
        }
        else if (json_obj.jira_url.length <= 0) {
            display_error_message("请输入jira地址");
        }
        else if ($("#dba_user_id").val() == null) {
            display_error_message("请选择执行SQL的DBA");
        }
        else if ($("#is_backup").val() == null) {
            display_error_message("请选择是否要备份");
        }
        else if ($("#db_name").val() == null) {
            display_error_message("请选择要执行的数据库");
        }
        else if ($("#audit_user_id").val() == null) {
            display_error_message("请选择审核的用户")
        }
        else {
            show_modal_dialog("#sql_create_dialog");
        }
    }

    function add_sql_work() {
        $.post("/execute/add", JSON.stringify(get_form_json($("#sql_work_form"))), function (data) {
            alert(data);
            hide_modal_dialog("#sql_create_dialog");
        }).error(function () {
            alert("添加失败，请联系管理员！");
            hide_modal_dialog("#sql_create_dialog");
        });
    }

    function display_error_message(message) {
        $("#audit_info").html(message);
    }

    function show_database_names() {
        $.post("/audit/db_names/" + $("#host_id").val(), "", function (data) {
            $("#db_div").html(data);
            $(".selectpicker").selectpicker({liveSearch: true});
        });
    }
</script>

<script src={{ url_for("static", filename="js/common.js") }} type="text/javascript"></script>