<div class="modal fade" id="user_add" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop='static'>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="exampleModalLabel">添加用户</h4>
            </div>
            <div class="modal-body">
                <form id="user_add_form">
                    <div class="form-group">
                        <label id="user_name_lable" name="user_name_lable" class="control-label" for="user_name">用户名:</label>
                        <input id="user_name" name="user_name" type="text" class="form-control" placeholder="input user name">
                    </div>
                    <div class="form-group">
                        <label id="user_password_lable" name="user_password_lable" class="control-label" for="user_password">密码:</label>
                        <input id="user_password" name="user_password" type="password" class="form-control" placeholder="input user password">
                    </div>
                    <div class="form-group">
                        <label id="chinese_name_lable" name="chinese_name_lable" class="control-label" for="chinese_name">中文名:</label>
                        <input id="chinese_name" name="chinese_name" type="text" class="form-control" placeholder="input user chinese name">
                    </div>
                    <div class="form-group">
                        <label id="email_lable" name="email_lable" class="control-label" for="email">邮箱:</label>
                        <input id="email" name="email" type="text" class="form-control" placeholder="input user email">
                    </div>
                    <div class="form-group">
                        <select id="group_id" name="group_id" class="selectpicker show-tick form-control bs-select-hidden">
                            <option value="0" selected>请选择用户组</option>
                            {% for info in group_infos %}
                                <option value="{{ info.group_id }}">{{ info.group_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <select id="role_id" name="role_id" class="selectpicker show-tick form-control bs-select-hidden">
                            <option value="0" selected>请选择用户角色</option>
                            {% for info in role_infos %}
                                <option value="{{ info.role_id }}">{{ info.role_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" onclick=add_user()>添加</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="group_add" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop='static'>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="exampleModalLabel">添加用户组</h4>
            </div>
            <div class="modal-body">
                <form id="host_add_form">
                    <div class="form-group">
                        <label id="user_name_lable" name="user_name_lable" class="control-label" for="user_name">组名:</label>
                        <input id="group_name" name="group_name" type="text" class="form-control" placeholder="input group name">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" onclick=add_user()>添加</button>
            </div>
        </div>
    </div>
</div>

<ul id="myTab" class="nav nav-tabs">
    <li class="active">
        <a href="#user_manager" data-toggle="tab">用户管理</a>
    </li>
    <li>
        <a href="#user_group" data-toggle="tab">用户组管理</a>
    </li>
    <li>
        <a href="#user_role" data-toggle="tab">用户角色管理</a>
    </li>
</ul>

<div id="myTabContent" class="tab-content">
    <div class="tab-pane fade in active" id="user_manager">
        </br>
        <div class="row">
            <div class="col-md-2">
                <input id="user_name_query" type="text" class="form-control" placeholder="input user name">
            </div>
            <div class="col-md-2">
                <select id="user_group_query" name="user_group_query" class="selectpicker show-tick form-control bs-select-hidden" required>
                    <option value="0" selected>所有用户组</option>
                    {% for info in group_infos %}
                        <option value="{{ info.group_id }}">{{ info.group_name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-2">
                <select id="user_role_query" name="user_role_query" class="selectpicker show-tick form-control bs-select-hidden" required>
                    <option value="0" selected>所有用户角色</option>
                    {% for info in role_infos %}
                        <option value="{{ info.role_id }}">{{ info.role_name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-4">
                <button class="btn btn-default" onclick="query_user()">查询</button>
                <button class="btn btn-primary" onclick=show_add_user_dialog()>添加用户</button>
            </div>
        </div>
        </br>
        <div class="row">
            <div class="col-md-8" id="user_data">
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="user_group">
        </br>
        <div class="row">
            <div class="col-md-12">
                <button class="btn btn-primary" onclick=show_modal_dialog("#group_add")>添加用户组</button>
            </div>
        </div>
        </br>
        <div class="row">
            <div class="col-md-5" id="group_data">
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="user_role">
        </br>
        <div class="row">
            <div class="col-md-6" id="user_role_data">
                user role
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(".selectpicker").selectpicker();

    function show_add_user_dialog() {
        $("#email").val("");
        $("#user_name").val("");
        $("#chinese_name").val("");
        $("#user_password").val("");
        show_modal_dialog("#user_add");
    }


    function add_user() {
        $.post("/user/add", JSON.stringify(get_form_json($("#user_add_form"))), function (data) {
            alert(data);
            query_user();
            hide_modal_dialog("#user_add")
        }).error(function () {
            alert("添加失败!");
        });
    }

    function query_user() {
        var json_obj = new Object()
        json_obj.user_name = $("#user_name_query").val();
        json_obj.group_id = $("#user_group_query").val();
        json_obj.role_id = $("#user_role_query").val();
        console.log(JSON.stringify(json_obj))
        input_data_for_post("/user/query", JSON.stringify(json_obj), "#user_data");
    }

    function query_group() {
        input_data_for_post("/user/group/query", "", "#group_data");
    }

    query_user();
    query_group();
</script>