<div class="row">
    <div class="col-md-2">
        <input id="user_name_query" type="text" class="form-control" placeholder="input user name">
    </div>
    <div class="col-md-2">
        <select id="role_id_query" name="role_id" class="selectpicker show-tick form-control bs-select-hidden" required>
            <option value="0" selected>所有用户角色</option>
            {% for info in role_infos %}
                <option value="{{ info.role_id }}">{{ info.role_name }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="col-md-4">
        <button class="btn btn-default">查询</button>
        <button class="btn btn-primary" onclick=show_add_user_dialog()>添加用户</button>
    </div>
</div>

</br>
<div class="row">
    <div class="col-md-8" id="user_data">

    </div>
</div>

<div class="modal fade" id="user_add" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop='static'>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="exampleModalLabel">添加用户</h4>
            </div>
            <div class="modal-body">
                <form id="host_add_form">
                    <div class="form-group">
                        <label id="user_name_lable" name="user_name_lable" class="control-label" for="user_name">用户名:</label>
                        <input id="user_name" name="user_name" type="text" class="form-control" placeholder="input user name">
                    </div>
                    <div class="form-group">
                        <label id="user_password_lable" name="user_password_lable" class="control-label" for="user_password">密码:</label>
                        <input id="user_password" name="user_password" type="password" class="form-control" placeholder="input user password">
                    </div>
                    <div class="form-group">
                        <label id="chinese_name_lable" name="chinese_name_lable" class="control-label" for="chinese_name">中文名:</label>
                        <input id="chinese_name" name="chinese_name" type="text" class="form-control" placeholder="input user chinese name">
                    </div>
                    <div class="form-group">
                        <label id="email_lable" name="email_lable" class="control-label" for="email">邮箱:</label>
                        <input id="email" name="email" type="text" class="form-control" placeholder="input user email">
                    </div>
                    <div class="form-group">
                        <select id="group_id" name="group_id" class="selectpicker show-tick form-control bs-select-hidden">
                            <option value="0" selected>请选择用户组</option>
                            <option value="1">组1</option>
                            <option value="2">组1</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <select id="role_id" name="role_id" class="selectpicker show-tick form-control bs-select-hidden">
                            <option value="0" selected>请选择用户角色</option>
                            {% for info in role_infos %}
                                <option value="{{ info.role_id }}">{{ info.role_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary">添加</button>
            </div>
        </div>
    </div>
</div>


<ul id="user_manager" class="nav nav-tabs">
    <li class="active">
        <a href="#user" data-toggle="tab">用户管理</a>
    </li>
    <li>
        <a href="#group" data-toggle="tab">用户组管理</a>
    </li>
</ul>

<div id="tab_content" class="tab-content">
    <div class="tab-pane fade in active" id="user">
        user
    </div>
    <div class="tab-pane fade" id="group">
        group
    </div>
</div>

<script type="text/javascript">
    $(".selectpicker").selectpicker();

    function show_add_user_dialog() {
        $("#email").val("");
        $("#user_name").val("");
        $("#chinese_name").val("");
        $("#user_password").val("");
        show_modal_dialog("#user_add");
    }

    function query_user() {
        var parameter = "user_name=" + convert_string("#user_name_query") + "&role_id=" + convert_int("#role_id_query");
        input_data_for_post("/user/query", parameter, "#user_data");
    }

    query_user();
</script>