{% if(user_infos != None) %}
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th></th>
            <th colspan="4" class="text-center">
                用户信息
            </th>
            <th colspan="2" class="text-center">
                权限
            </th>
            <th></th>
        </tr>
        <tr>
            <th>
                ID
            </th>
            <th>
                用户名
            </th>
            <th>
                中文名
            </th>
            <th>
                邮件
            </th>
            <th>
                创建时间
            </th>
            <th>
                角色
            </th>
            <th>
                组名
            </th>
            <th>

            </th>
        </tr>
        </thead>
        <tbody>
        {% for info in user_infos %}
            <tr>
                <td>
                    {{ info.user_id }}
                </td>
                <td>
                    {{ info.user_name }}
                </td>
                <td>
                    {{ info.chinese_name }}
                </td>
                <td>
                    {{ info.email }}
                </td>
                <td>
                    {{ info.created_time }}
                </td>
                <td>
                    {{ info.role_name }}
                </td>
                <td>
                    {{ info.group_name }}
                </td>
                <td class="text-center" style="width: 230px">
                    {% if(info.is_deleted == 1) %}
                        <button class="btn btn-danger btn-xs" onclick=show_modal_dialog("#user_start")>已删除</button>
                    {% else %}
                        <button class="btn btn-default btn-xs">编辑</button>
                        <button class="btn btn-primary btn-xs">权限</button>
                        <button class="btn btn-danger btn-xs" onclick="delete_user({{ info.user_id }})">禁用</button>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}


